#form {
	width: 550px;
	margin: auto;	
}

#banner,
#info,
#chart {
	text-align: center;
	margin: auto;	
}

#inner_form {
	float: right;
	text-align: right;
	padding-right: 30px;
}

#chart {
	padding-top: 30px;
}

body {
	background: url(bees.png);
	font: 20px;
}